<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NR2003 Pts Manager</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/championships">Back to Championships</a></div>
    <div class="navlink"><a href="/championships/{{champName}}">Back to Overview</a></div>
  </nav>
  
  <h1>404 No Page Found</h1>
  <h2>{{message}}</h2>
</html>
