<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NR2003 Pts Manager</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/championships">Back to Championships</a></div>
  </nav>
  <section id="signup">
    <form id="changePasswordForm" name="changePasswordForm" action="/changePassword" method="POST" class="mainForm">
      <label for="pass">Password: </label>
      <input id="pass" type="password" name="pass" placeholder="password"/>
      <label for="pass2">Password: </label>
      <input id="pass2" type="password" name="pass2" placeholder="retype password"/>
      <input class="formSubmit" type="submit" value="Change Password" />
    </form>
  </section>
  <h3><span id="errorMessage"></span></h3>
  <script src="/assets/mainBundle.js"></script>
</body>
</html>
