<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NR2003 Pts Manager</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/championships">Back to Championships</a></div>
  </nav>
  
  <h1>Error! No Races Added to Championship Yet!</h1>
  <h2>You need to add a race file on the previous page for the specific championship.</h2>
  <script src="/assets/overviewPageBundle.js"></script>
</body>
</html>
