<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NR2003 Pts Manager</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/championships">Back to Championships</a></div>
    <div class="navlink"><a href="/championships/{{champName}}">Back to Overview</a></div>
  </nav>
  {{#unless isPremium}}
    <section id="ad-space">
        <img id="ad-img" src="/assets/img/adspace.png" alt="Mock Ad Space" />
        <img id="ad-img" src="/assets/img/adspace.png" alt="Mock Ad Space" />
        <img id="ad-img" src="/assets/img/adspace.png" alt="Mock Ad Space" />
    </section>
  {{/unless}}
  
  <h1>Race Overview</h1>
  <section id="raceTable"></section>
  <script src="/assets/racePageBundle.js"></script>
</body>
</html>
