html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #343a40;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #2e4053;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: #fff599;
    font-size: 1.3em;
    float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #e5761a;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #ff9900;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label,
#championshipForm label,
#driverCountSelectorLabel {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    text-align: right;
    font-size: 1.2em;
    color: #fff;
}

#driverCountSelectorLabel {
    width: 200px;
}

.formSubmit,
.makeChampionshipSubmit,
#premium-button,
#driverCountSelector {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    background-color: #e5761a;
    border-radius: 2px;
    border-color: #ff9900;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

#driverCountSelector {
    margin: 0;
    margin-left: 8rem;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #ff9900;
}

#user,
#pass,
#pass2,
#championshipForm #championshipName,
#premium-button {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #ff9900;
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    color: #fff;
}

.table-container {
    height: 600px;
    width: fit-content;
    overflow-y: auto;
    border: 3px solid black;
    margin: 0 auto;
}

.table-container table {
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid black;
    padding: 10px;
    background-color: #2e4053;
    color: #fff;
}

.table-container thead th {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #2e4053;
    color: #fff;
    border-bottom: none;
    box-shadow: inset 0px -4px 0px 0px #000;
}

.fetching-tag-container {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}

#driverFlexDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#driverFlexDiv > * {
    padding: 2rem;
}

#race-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#championship-box,
#championshipForm {
    border: 4px solid black;
    border-radius: 30px;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    background-color: #2e4053;
    color: #fff;
}

#makeChampionship {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
    color: #e5761a;
}

a:visited {
    color: #e5761a;
}

a:hover {
    color: #ff9900;
}

#ad-space {
    display: flex;
    justify-content: center;
}

#ad-img {
    width: 20%;
    padding: 1rem;
}

#premium-button {
    display: block;
    margin: 0 auto;
}

#seasonFlexDiv,
#racePageFlexDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#seasonFlexDiv > *,
#racePageFlexDiv > * {
    padding: 2rem;
}

#seasonPointsGraph,
#driverPointsGraph,
#driverPointsChangeGraph,
#lapsLedPieChart{
    background-color: #2e4053;
    border: 4px solid black;
    border-radius: 30px;
    padding: 0.5rem;
}
